<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm tuananhhedspibk</h1>
		<p>Welcome to my blog about IT and Harry Potter.</p>
		<p>This week I'm learning about React and do graduation research at my University. Together I'm reading book about Harry Potter </p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, React, find me on Github <a href="https://github.com/tuananhhedspibk">@tuananhhedspibk</a>.</p>
	</div>
</div>